body {
    margin: 60px auto;
    width: 70%;
    font-family: "Times New Roman", Times, serif;
}

nav ul, footer ul {
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: right; 
}

a {
    text-decoration: none;
    color: #999;
    font-family: "Times New Roman", Times, serif;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.8em;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

h2 {
    font-size: 1.8em;
    padding-right: 0.7cm;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal; /* Change to bold */
    text-decoration: underline; /* Add underline */
}

p {
    font-size: 1.6em;
    padding-top: 0.3cm;
    line-height: 1.4em;
    color: #333;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.3em;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    padding-top: 10px; /* Adjust the value as needed */
}

ul {
  list-style-type: disc;
  margin-left: 10px; /* Indentation for the list */
}

li {
  font-size: 1.6em;
  color: #333;
  line-height: 1.4em;  
  font-family: "Times New Roman", Times, serif;
}

footer ul li {
  margin-top: 10px;
  font-size: 1.3em; /* Matches the footer font size */
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
}

ul.posts li {
    list-style: none;
    font-family: "Times New Roman", Times, serif;
}

img {
    display: block;
    width: 350px; /* Keeps the image square */
    height: 350px;
    object-fit: cover; /* Ensures the image is proportional */
    padding: 20px; /* Adds white space inside the border */
    background-color: white; /* Ensures the padding is white */
    box-sizing: border-box; /* Includes padding and border in total size */
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
}

img.hover-image:hover {
    content: url("https://samueldavidjones.github.io/images/sam_1_04.jpg");
    border-color: #666; /* Optional: Change border color on hover */
}

br {
    line-height: 150%;
    font-family: "Times New Roman", Times, serif;
}
